{% extends "base.html" %}
{% block body %}

<section id="hero">
    <div class="hero container">
        <div>
            {% if name_user %}
            <h1>Hello {{ name_user }}, <span></span></h1>
            {% else %}
            <h1>Hello!</h1>
            {% endif %}

            <h1>Empower <span></span></h1>
            <h1>Your Financial <span id="dynamic-word-container"><span id="dynamic-word">Future</span></span></h1>
            {% if name_user %}
            <a href="/logout" type="button" class="cta">Log Out</a>
            {% else %}
            <a href="/login" type="button" class="cta">Log in</a>
            <br>
            <a href="/signup" type="button" class="cta">Create your Account</a>
            {% endif %}
        </div>
    </div>
<!-- </section>
<section id="footer">
    <div class="footer container">
        <p>© Code Overflow Hackathon 2024, Group 13, Nanyang Polytechnic</p>
    </div>
</section>

<script src="..\static\js\home.js"></script> -->

{% endblock body %}