{% extends "base.html" %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgeting Basic</title>
</head>
<body>
    <header>
        <h1>What is budgeting ?</h1>
        <p>Budgeting involves tracking your income and expenses to manage your finances effectively. 
            Start by listing all sources of income and categorize your expenses (needs vs. wants).
            Allocate funds accordingly and stick to your budget to avoid overspending.</p>
    </header>
</body>
</html>

{% endblock body %}

