<!DOCTYPE html>
<html>
<head>
    <title>Lesson 1: Budgeting Basics</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Lesson 1: Budgeting Basics</h1>
    </header>
    
    <main>
        <h2>What is Budgeting?</h2>
        <p>Budgeting involves tracking your income and expenses to manage your finances effectively. <br>
            Start by listing all sources of income and categorize your expenses (needs vs. wants).<br>
            Allocate funds accordingly and stick to your budget to avoid overspending.</p>
        <img src="\Images\WantsVSNeeds.jpg" alt="Wants vs Needs">
    </main>

    
    
    <footer>
        <p>&copy; 2022 Financial Literacy Lessons. All rights reserved.</p>
    </footer>
</body>
</html>

