<!DOCTYPE html>
<html>
<head>
    <title>Lesson 4: Investing for the Future</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Lesson 4: Investing for the Future</h1>
    </header>
    
    <main>
        <h2>Why Invest?</h2>
        <p>Investing involves putting your money into assets like stocks, bonds, or real estate to grow wealth over time. <br>
             Start early, diversify your portfolio, and consider long-term goals such as retirement. <br>
             Understand the risks and choose investments that align with your financial objectives.</p>
             <p>To learn more about stocks, check out this <a href="/plot" target="_blank">Link</a>.</p>
    </main>
    
    <footer>
        <p>&copy; 2022 Financial Literacy Lessons. All rights reserved.</p>
    </footer>
</body>
</html>
