{% extends "base.html" %}

{% block body %}
    <header>
        <h1>Lesson 4: Investing for the Future</h1>
    </header>
    
    <main>
        <h2>Why Invest?</h2>
        <p>Investing involves putting your money into assets like stocks, bonds, or real estate to grow wealth over time. <br>
             Start early, diversify your portfolio, and consider long-term goals such as retirement. <br>
             Understand the risks and choose investments that align with your financial objectives.</p>
        <p>To learn more about stocks, check out this <a href="plot" target="_blank">Link</a>.</p>
         <!-- Navigation controls -->
             <div class="navigation">
                <button onclick="navigate(-1)">Back</button>
                <button onclick="navigate(1)">Next</button>
                <button onclick="exit()">Exit</button>
            </div>
    </main>


    <footer>
        <p>&copy; 2022 Financial Literacy Lessons. All rights reserved.</p>
    </footer>

    <script>
        function navigate(direction) {
            const lessonNumber = parseInt(window.location.pathname.match(/lesson(\d+)/)[1]);
            const nextLessonNumber = lessonNumber + direction;
            if (nextLessonNumber >= 1 && nextLessonNumber <= 4) {
                window.location.href = `lesson${nextLessonNumber}`;
            } else if (nextLessonNumber > 4) {
                window.location.href = "lesson_home";
            }
        }
    
        function exit() {
            if (confirm("Are you sure you want to exit?")) {
                window.location.href = "lesson_home";
            }
        }
    </script>

{% endblock %}