{% extends "base.html" %}
{% block body %}
<h1>Quiz Submission - {{ submitted_at }}</h1>
<p>Score: {{ score }}/{{ quiz|length }}</p>
<ol type="1">
    {% for question in quiz %}
    <li>
        <strong>{{ question['question'] }}</strong>
        <ol type="A">
            {% for option in question['options'] %}
            <li>
                <label>
                    <input type="radio" name="{{ question['id'] }}" value="{{ option }}" {% if
                        question['selected']==option %}checked{% endif %} disabled>
                    {{ option }}
                    {% if question['selected'] == option %}
                    {% if question['selected'] == question['correct_answer'] %}
                    <span style="color: green;">(Correct)</span>
                    {% else %}
                    <span style="color: red;">(Incorrect, correct answer: {{ question['correct_answer'] }})</span>
                    {% endif %}
                    {% endif %}
                </label>
            </li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ol>
{% endblock %}