{% extends "base.html" %}
{% block body %}
    <h1>Financial Literacy Quiz</h1>
    <form action="" method="post">
            <ul>
                {% for question in quiz %}
                    <li value="1">
                        <strong>{{ question['question'] }}</strong>
                        <ul>
                            {% for option in question['options'] %}
                                <li value="A">
                                    <label>
                                        <input type="radio" name="{{ question['id'] }}" value="{{ option }}">
                                        {{ option }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Submit Quiz</button>
    </form>
    <button onclick="window.location.reload();">Refresh Quiz</button>
{% endblock body %}